.book-form {
    padding: 2rem 0;
    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    &__input {
        &--error {
            border: 2px solid red;
        }
        &--valid {
            border: 2px solid green;
        }
    }
}